
@{
    ViewBag.Title = "PrincipalM";
}

<h2>Menu Principal</h2>
<div>
   <h4> @Html.ActionLink("Almacenar Informacion de Empleados", "Index")</h4>
</div>
<div>
    <h4>@Html.ActionLink("Control de Llegadas y Agendar Citas", "Index")</h4>
</div>
<div>
    <h4> @Html.ActionLink("Simular Una Salida a Realizar VIisitas", "Index")</h4>
</div>
<div>
    <h4> @Html.ActionLink("Simular Retorno a Oficina", "Index")</h4>
</div>
<div>
    <h4>  @Html.ActionLink("Control de Ingresos y Salidas de Trabajo", "Index")</h4>
</div>
<div>
    <h4>  @Html.ActionLink("Busquedas", "MenuBuscar")</h4>
</div>

